<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>userHome</title>
  <link rel="stylesheet" href="static/style1.css">
  
</head>
<body>
  <header class="header">
    <div class="logo-container">
      <img src="static/logoname.png" alt="Logo">
    </div>
    <nav class="nav-links">
      <a href="#welcome">Home</a>
      <a href="#services">Services</a>
      <a href="#end-section">Contact</a>
      <a href="{{ url_for('home') }}">Logout</a>
    </nav>
  </header>

  <section id="welcome" class="welcome">
    <img src="static/image.png" alt="Welcome Image">
    <div class="lyh">
      <h1>BETTER HEART! BETTER LIFE!</h1>
      <p>Welcome to CORBEAT, Your partner in maintaining a healthy Heart.
        <br> We are dedicated to helping You to take control of your Heart Health.
        Explore our services to take control of your CardioVascular well-being.</p>
        <a href="#services"><button class="lyhb">Explore services</button></a>
    </div>
  </section>

  <div id="boxes">
  <div id="services" class="h1"><h1>OUR SERVICES</h1></div>
  <section id="services" class="services">
    <div class="service-box">
      <img src="static/quiz.png" alt="Service 1">
      <h1>Risk Assessment Pro</h1>
      <p>Discover your heart disease risk with our interactive assessment tool. 
        Get personalized insights to reduce your risk.</p>
      <a href="templates/risk_assessment.html"><button>Try Now</button></a>
    </div>
    <div class="service-box">
      <img src="static/predict.png" alt="Service 2">
      <h1>Predict & Prevent</h1>
      <p>Use our advanced prediction model to determine your heart disease risk. 
        Take proactive steps to prevent cardiovascular issues.</p>
        <a href="templates/hd_prediction.html"><button>Try Now</button></a>
    </div>
    <div class="service-box">
      <img src="static/consult.png" alt="Service 3">
      <h1>Heart-to-Heart Consults</h1>
      <p>Consult with our expert cardiologists. Receive personalized guidance,
         ask questions, and share concerns about your heart health.</p>
         <a href="templates/doctor.html"><button>Try Now</button></a>
    </div>
  </section>
</div>

  <section id="end-section" class="end-section">
    <div class="container-end">
        <h2>Thank You for Visiting CORBEAT</h2>
        <p>We hope you found the information helpful and insightful.
          <br>If you have any questions or need further
            assistance, feel free to reach out to us.
            <br>email: corbeat@gmail.com
        </p>
        <img src="static/logoname.png" alt="Logo">
        <p>&copy;2025 CORBEAT. All rights reserved.</p>
    </div>
</section>
<script type="module" src="static/firebaseauth.js"></script>

</body>
</html>