<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login - Corbeat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logoname.png') }}" alt="Logo">
        </div>
        <nav class="nav-links">
            <a href="{{ url_for('home') }}">Home</a>
        </nav>
    </header>

    <div class="log_box">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </div>
        <form id="log_form">
            <h2>CORBEAT</h2>
            <div class="form_el">
                <input type="text" id="username" placeholder="Username"><br>
            </div>
            <div class="form_el">
                <input type="password" id="password" placeholder="Password"><br>
            </div>
            <button type="submit">LOGIN</button>
        </form>
    </div>

    <script>
        document.getElementById("log_form").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent default form submission
            
            let name = document.getElementById("username").value;
            let pw = document.getElementById("password").value;

            try {
                if (name === "admin" && pw === "corbeat") {
                    window.location.href = "{{ url_for('admin_dashboard') }}";
                } else {
                    alert("Invalid username or password");
                }
            } catch (error) {
                console.error("Error:", error.message);
            }
        });
    </script>
</body>
</html>
